CompileFlags:
  CompilationDatabase: build/x86_64-linux-gnu-release
  Remove:
    - -std=*
  Add:
    - -std=c89
    - -Wall
    - -Wextra
    - -Wpedantic
Documentation:
  CommentFormat: Markdown
---
If:
  PathMatch: (dist|build|\\.cache)/.*
Index:
  Background: Skip
